# API Configuration
LOG_LEVEL=INFO
CORS_ORIGINS=["*"]

# Optivum URLs
BASE_URL=https://plan.zse.bydgoszcz.pl/
LIST_URL=https://plan.zse.bydgoszcz.pl/lista.html
SUBSTITUTIONS_URL=https://zastepstwa.zse.bydgoszcz.pl/

# Cache TTL (seconds)
SCHEDULE_TTL=10800
SUBSTITUTIONS_TTL=300